apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "task-api-huma-mongo.frontendName" . }}-nginx
  labels:
    {{- include "task-api-huma-mongo.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
data:
  default.conf: |
    server {
      listen 80;
      server_name _;

      root /usr/share/nginx/html;
      index index.html;

      location / {
        try_files $uri $uri/ /index.html;
      }

      location {{ .Values.frontend.nginx.apiPathPrefix }} {
        proxy_pass http://{{ include "task-api-huma-mongo.apiName" . }}:{{ .Values.api.service.port }}/;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      }
    }
